.form-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-body {
  border: 1px solid blue;
  border-radius: 20px;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}
